

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #8733ff;
}

h2 {
  color: #7ed957;
}

p {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 40px;
}

form {
  margin-top: 40px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

button {
  padding: 10px 20px;
  background-color: #8733ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #7ed957;
}
.pode.png {
  display: flex;
  size: 30px;
}